<!doctype html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.css' rel='stylesheet' />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Kalendarz Wydarzeń</title>
</head>
<body>
    <header>
        <div class="container">
            <img src="{{ url_for('static', filename='logo.jpg') }}" alt="Logo Uniwersytetu" height="50">
            <h1>Kalendarz Wydarzeń</h1>
        </div>
    </header>
    <div class="container">
        <div id="calendar"></div>
    </div>

    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.js'></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script> 
</body>
</html>
