<!doctype html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Kalendarz Wydarzeń</title>
</head>
<body>
    <div class="container mt-5">
        <h1>Kalendarz Wydarzeń</h1>
        <form method="GET" action="/">
            <div class="form-group">
                <label for="tag">Filtruj według tagu</label>
                <input type="text" class="form-control" id="tag" name="tag" placeholder="Wpisz tag" value="{{ tag }}">
            </div>
            <button type="submit" class="btn btn-primary">Filtruj</button>
        </form>

        <table class="table mt-5">
            <thead>
                <tr>
                    <th>Nazwa Wydarzenia</th>
                    <th>Czas Rozpoczęcia</th>
                </tr>
            </thead>
            <tbody>
                {% for event in events %}
                <tr>
                    <td><a href="{{ url_for('event_detail', event_id=event.id) }}">{{ event.name }}</a></td>
                    <td>{{ event.start_time }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
